# Ignorar todas las carpetas y archivos
/*

# Permitir el seguimiento de la carpeta extraAddons
!extraAddons/
!extraAddons/**
!.gitignore
!procesamiento.bat
!configuracion.json


# Ignorar todas las carpetas __pycache__ dentro de extraAddons
extraAddons/**/__pycache__/
python/**/__pycache__/
CLIENTS/**/Logs

# Permitir las carpetas CLIENTS, 2-Working y 3-Sandbox
!CLIENTS/
!2-Working/
!3-Sandbox/
!python